!!!
/[if IE 9] <html class="ie9" lang="en">
<!--[if gt IE 9]><!-->
%html.overlay_active{:lang => "en"}<>
	<!--<![endif]-->

	= Haml::Engine.new(File.read("dev/haml/partials/_doc_head.haml")).render

	%body#page_norecord.page_norecord

		= Haml::Engine.new(File.read("dev/haml/partials/_html_header.haml")).render

		%main{:role => "main"}

			%section#header_settings{"data-container" => "padding"}

				%article.standard

					%h1 Settings
					-# does this need to be a mailto: link?
					%h2.truncate admin@northernarmy.com

			%section#main_settings{"data-container" => "padding"}

				%article

					-# how this form functions is left up to the client - too many uncertainties
					%form#form_settings.settings_form{:action => "", :method => "", :name => "form_settings"}

						%h4 User Role:
						#wrap_select-role.wrap_select-role.wrap_select{"data-selected" => ""}

							%select#user_role.visuallyhidden{:name => "user_role", :tabindex => "-1", :required => true}
								%option{:disabled => true, :selected => true, :value => true} Select Role...
								%option{:value => "Administrator"} Administrator
								%option{:value => "Subscriber"} Subscriber
								%option{:value => "Editor"} Editor
								%option{:value => "Supreme Overlord"} Supreme Overlord
								%option{:value => "Chief Commander"} Chief Commander
								%option{:value => "Admiral"} Admiral
								%option{:value => "Captain Jim"} Captain Jim
								%option{:value => "Person of Interest"} Person of Interest

							.dropdown_toggle
								%span.dropdown_placeholder Select Role...
								.wrap_svg.input_svg
									%svg.ui_arrow-thick{:viewBox => "0 0 64 64"}
										%use{"xlink:href" => "#ui_arrow-thick"}

						%h4 User Preference:
						#wrap_select-preference.wrap_select-preference.wrap_select{"data-selected" => ""}

							%select#user_preference.visuallyhidden{:name => "user_preference", :tabindex => "-1", :required => true}
								%option{:disabled => true, :selected => true, :value => true} Select Preference...
								%option{:value => "Lead"} Lead
								%option{:value => "Account"} Account
								%option{:value => "Contact"} Contact
								%option{:value => "Opportunity"} Opportunity

							.dropdown_toggle
								%span.dropdown_placeholder.truncate Select Preference...
								.wrap_svg.input_svg
									%svg.ui_arrow-thick{:viewBox => "0 0 64 64"}
										%use{"xlink:href" => "#ui_arrow-thick"}

						%a.log_link{:href => "#", :title => "Log Out Current User"} Log Out Current User

						.actions
							%button.button.blue{:type => "submit", :name => "submit"} Save

		%div{"data-overlay" => "wrap_select-role"}
			%aside{"data-modal" => "select"}

				%ul.select_list
					%li.select_option
						%a.select_link{:href => "#", "data-value" => "Administrator"} Administrator
					%li.select_option
						%a.select_link{:href => "#", "data-value" => "Subscriber"} Subscriber
					%li.select_option
						%a.select_link{:href => "#", "data-value" => "Editor"} Editor
					%li.select_option
						%a.select_link{:href => "#", "data-value" => "Supreme Overlord"} Supreme Overlord
					%li.select_option
						%a.select_link{:href => "#", "data-value" => "Chief Commander"} Chief Commander
					%li.select_option
						%a.select_link{:href => "#", "data-value" => "Admiral"} Admiral
					%li.select_option
						%a.select_link{:href => "#", "data-value" => "Captain Jim"} Captain Jim
					%li.select_option
						%a.select_link{:href => "#", "data-value" => "Person of Interest"} Person of Interest