!!!
/[if IE 9] <html class="ie9" lang="en">
<!--[if gt IE 9]><!-->
%html{:lang => "en"}<>
	<!--<![endif]-->

	= Haml::Engine.new(File.read("dev/haml/partials/_doc_head.haml")).render

	%body#page_reminder.page_reminder

		= Haml::Engine.new(File.read("dev/haml/partials/_html_header.haml")).render

		%main{:role => "main"}

			%section{"data-container" => "full"}

				%article.banner.pinned.clearfix

					.badge.icon_lead.wrap_svg
						%svg.ui_lead{:viewBox => "0 0 64 64"}
							%use{"xlink:href" => "#ui_lead"}

					.headlines
						%h1.name.truncate Jimmy McNulty
						%h4.truncate Northern Army Bros.

					.icon_pin.wrap_svg
						%svg.ui_pin{:viewBox => "0 0 64 64"}
							%use{"xlink:href" => "#ui_pin"}

			%section{"data-container" => "padding"}

				%article.cases

					.cases_header

						%h4 3 Open Cases

						%a.icon_calendar.wrap_svg{:href => "#", :title => "Calendar"}
							%svg.ui_calendar{:viewBox => "0 0 64 64"}
								%use{"xlink:href" => "#ui_calendar"}

						%a.icon_reminder.wrap_svg{:href => "#", :title => "Reminder"}
							%svg.ui_reminder{:viewBox => "0 0 64 64"}
								%use{"xlink:href" => "#ui_reminder"}

					.cases_calendar


					.cases_reminder


					.actions.columns
						%a.button.pink{:href => "#", :title => "Cancel"} Cancel
						%a.button.blue{:href => "#", :title => "Save"} Save

		= Haml::Engine.new(File.read("dev/haml/partials/_doc_scripts.haml")).render