// ==|== primary styles =======================================================
// ============================================================================

// Foundation
// ----------------------------------------------------------------------------
html,
button,
input,
optgroup,
select,
textarea {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: $hsla_L0;
	background-color: $hsla_L18;
}
body {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 2rem;
	width: 20rem;
	background-color: $hsla_L96;
}
::selection {
	color: $hsla_L100;
	background-color: $hsla_blue;
}
/*
::-webkit-input-placeholder {
	color: $hsla_blue;
}
::-moz-placeholder {
	color: $hsla_blue;
	opacity: 1;
}
:-ms-input-placeholder {
	color: $hsla_blue;
}
*/

// Transitions
// ----------------------------------------------------------------------------
a,
button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
	transition: all 0.3s ease-in-out;
}
svg {
	transition: fill 0.3s ease-in-out;
}
textarea,
input[type="text"],
input[type="datetime"] {
	transition: border-color 0.3s ease-in-out;
}
[data-overlay] {
	transition: opacity 0.6s ease-in-out;
}
// --- Animations --- \\
@keyframes animShow {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes animHide {
	0%   { opacity: 1; left: 0; }
	99%  { opacity: 0; left: 0; }
	100% { opacity: 0; left: -200%; }
}
/*
// --- FOUT --- \\
html:not(.ie9) header {
	opacity: 0; // begin by setting opacity to 0
	animation: animShow 0.6s ease-in-out 0.2s forwards;
}
*/

// ==|== components ===========================================================
// ============================================================================

// Forms
// ----------------------------------------------------------------------------
textarea,
input[type="text"],
input[type="datetime"] {
	width: 100%;
	font-size: 1.2rem;
	font-weight: 700;
	background-color: $hsla_L100;
	border: 0.1rem solid $hsla_L92;
	border-radius: 0.4rem;
}
textarea {
	padding: 1rem;
	min-height: 21rem;
	max-height: 28rem;
}
input[type="text"],
input[type="datetime"] {
	padding: 1.4rem 1rem;
}
textarea:focus,
input[type="text"]:focus,
input[type="datetime"]:focus {
	border-color: $hsla_blue;
}
// --- Wrap Inputs --- \\
.wrap_datetime {
	position: relative;
}
.wrap_datetime input[type="datetime"] {
	padding-right: 3.2rem;
}
.wrap_datetime div.wrap_svg {
	position: absolute;
	top: 1.2rem;
	right: 1rem;
	width: 1.8rem;
}
.wrap_datetime div.wrap_svg svg {
	fill: $hsla_L28;
}


// Containers
// ----------------------------------------------------------------------------
[data-container="padding"] {
	padding-left: 1rem;
	padding-right: 1rem;
}

// SVGs
// ----------------------------------------------------------------------------
#svgInject {
	display: none;
	visibility: hidden;
}
.wrap_svg {
	display: block;

	margin-left: auto;
	margin-right: auto;
}
.wrap_svg svg {
	width: 100%;
	height: 100%;
}
svg.svg_inline {
	display: inline; // [viewBox] attribute selector does not work in webkit
}

// Links & Buttons
// ----------------------------------------------------------------------------
/*
a {
	color: $hsla_blue;
}
a:hover {
	color: $hsla_gold;
}
a:active {
	color: $hsla_gold-D;
}
*/
// --- Buttons --- \\
.button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 16rem;
	height: 3.6rem;
	font-family: "futura-pt", Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 1.4rem;
	font-weight: 700;
	letter-spacing: 0.1rem;
	line-height: 3.6rem;
	text-align: center;
	text-transform: uppercase;
	color: $hsla_L100;
	border-radius: 0.4rem;
}
.button.blue {
	background-color: $hsla_blue;
}
.button.pink {
	background-color: $hsla_pink;
}
// + interaction + \\
.button:hover {
	background-color: $hsla_L28;
}
.button:active {
	background-color: $hsla_L38;
}
// + actions + \\
div.actions {
	margin-top: 2rem;
}
div.actions .button {
	margin-top: 1rem;
}
div.actions.columns {
	text-align: center;
}
div.actions.columns .button {
	display: inline-block;
	margin-top: 0;
	width: 8rem;
}
div.actions.columns .button:first-child {
	margin-right: 0.6rem;
}
// --- Badges --- \\
.badge {
	padding: 0.6rem;
	width: 3.2rem;
	height: 3.2rem;
	border-radius: 0.4rem;
}
.badge svg {
	fill: $hsla_L100;
}
// + individual badges + \\
.badge.icon_alert {
	background-color: $hsla_pink;
}
.badge.icon_lead {
	background-color: $hsla_orange;
}
.badge.icon_question {
	background-color: $hsla_green;
}

// Banner
// ----------------------------------------------------------------------------
article.banner {
	margin-bottom: 2rem;
	padding: 2rem 1rem;
	background-color: $hsla_L92;
}
article.banner div.badge,
article.banner div.headlines {
	float: left;
}
article.banner div.badge {
	margin-right: 1rem;
}
article.banner div.headlines {
	padding-top: 0.3rem;
	width: calc(100% - 4.2rem); // 3.2rem + 1rem
}
article.banner div.headlines h1 {
	margin-bottom: 0.2rem;
}
article.banner div.headlines p {
	font-size: 1.1rem;
	color: $hsla_L54;
}
// + pinned banner + \\
article.banner.pinned {
	position: relative;
}
article.banner.pinned div.headlines {
	width: calc(100% - 7.2rem); // 3.2rem + 1rem + 2rem + 1rem
}
article.banner.pinned div.icon_pin {
	position: absolute;
	top: 50%;
	right: 1rem;
	width: 2rem;
	transform: translateY(-50%);
}
article.banner.pinned div.icon_pin svg {
	fill: $hsla_L72;
}

// Overlay & Modal
// ----------------------------------------------------------------------------
// created and added (also destroyed) to DOM via JS
// opacity applied via JS | transition via CSS
[data-overlay] {
	position: fixed;
	z-index: 900;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: $hsla_L96;
	overflow: hidden;
}
[data-modal] {
	position: fixed;
	z-index: 901;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
// + overlay active + \\
html.overlay_active,
html.overlay_active body {
	overflow-y: hidden;
}
// --- Gallery Modal --- \\
aside[data-modal="gallery"] {
	padding-top: 6.4rem;
}
aside[data-modal="gallery"] img {
	margin: 0 auto;
	opacity: 0; // hide by default
}
aside[data-modal="gallery"].img_loaded img {
	opacity: 1;
}

// Headings
// ----------------------------------------------------------------------------
h1 {
	font-family: "futura-pt", Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 1.4rem;
	font-weight: 700;
	text-transform: uppercase;
	color: $hsla_L28;
}
h1.name {
	text-transform: none;
}

h3 {
	font-size: 1.4rem;
	font-weight: 700;
}
h4 {
	font-family: "futura-pt", Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 1rem;
	font-weight: 700;
	text-transform: uppercase;
	color: $hsla_L54;
}

// Content
// ----------------------------------------------------------------------------
div.content {
	text-align: center;
	color: $hsla_L18;
}
div.content h3 {
	margin-bottom: 1rem;
}
div.content p {
	margin-bottom: 1rem;
	font-size: 1.2rem;
	line-height: 1.4;
}
div.content p:last-child {
	margin-bottom: 0;
}


// ==|== common sections ======================================================
// ============================================================================

// Header
// ----------------------------------------------------------------------------
header {
	position: relative;
	padding-top: 2rem;
	padding-bottom: 2rem;
}
header div.wrap_svg {
	width: 7.2rem;
}
// --- Header Links --- \\
header a.wrap_svg {
	position: absolute;
	top: 2.8rem;
	width: 1.8rem;
}
header a.wrap_svg svg {
	fill: $hsla_L78;
}
header a.wrap_svg:hover svg {
	fill: $hsla_L54;
}
header a.wrap_svg:active svg {
	fill: $hsla_L78;
}
// + individual links + \\
header a.link_back {
	left: 1rem;
	transform: rotate(180deg);
}
header a.link_settings {
	right: 1rem;
}

// Cases
// ----------------------------------------------------------------------------
artice.cases {
}

// --- Cases Header --- \\
div.cases_header {
	position: relative;
	margin-bottom: 2rem;
}
div.cases_header a {
	position: absolute;
	top: -0.6rem;
	width: 1.8rem;
}
div.cases_header a svg {
	fill: $hsla_L78;
}
div.cases_header a.current {
	pointer-events: none;
}
div.cases_header a.current svg {
	fill: $hsla_blue;
}
// + individual links + \\
div.cases_header a.icon_calendar {
	right: 3rem;
}
div.cases_header a.icon_reminder {
	right: 0;
}
// + interaction + \\
div.cases_header a:hover svg {
	fill: $hsla_L38;
}
div.cases_header a:active svg {
	fill: $hsla_L54;
}

// --- Cases Grid --- \\
ul.cases_grid {
	margin-bottom: 1rem; // 1rem + 1rem from li's
}
ul.cases_grid li {
	float: left;
	margin-right: 1rem;
	margin-bottom: 0.8rem;
	width: 2.8rem;
}
ul.cases_grid li:nth-child(5n) {
	margin-right: 0;
}
ul.cases_grid li a:hover {
	background-color: $hsla_L28;
}
ul.cases_grid li a:active {
	background-color: $hsla_L38;
}

// --- Cases Form --- \\
form.cases_form div.wrap_datetime,
form.cases_form div.wrap_reminder-title,
form.cases_form div.wrap_meeting-location,
form.cases_form div.wrap_meeting-subject,
form.cases_form div.wrap_callnotes-subject {
	margin-bottom: 1rem;
}




// ==|== page styles ==========================================================
// ============================================================================

// Error
// ----------------------------------------------------------------------------

// Reminder
// ----------------------------------------------------------------------------
