// ==|== primary styles =======================================================
// ============================================================================

// Foundation
// ----------------------------------------------------------------------------
html,
button,
input,
optgroup,
select,
textarea {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: $hsl_L0;
	background-color: $hsl_L18;
}
body {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 2rem;
	width: 20rem;
	background-color: $hsl_L96;
}
::selection {
	color: $hsl_L100;
	background-color: $hsl_blue;
}
::-webkit-input-placeholder {
	color: $hsl_L54;
}
::-moz-placeholder {
	color: $hsl_L54;
	opacity: 1;
}
:-ms-input-placeholder {
	color: $hsl_L54;
}

// Transitions
// ----------------------------------------------------------------------------
a,
button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
	transition: all 0.3s ease-in-out;
}
svg {
	transition: fill 0.3s ease-in-out;
}
textarea,
input[type="tel"],
input[type="text"],
input[type="datetime"],
input[type="password"],
div.wrap_select div.dropdown_toggle {
	transition: border-color 0.3s ease-in-out;
}
ul.options_grid li a h6,
a.banner div.headlines h1,
a.banner div.headlines h4,
a.banner div.headlines h5,
div.wrap_select div.dropdown_toggle span {
	transition: color 0.3s ease-in-out;
}
[data-overlay] {
	transition: opacity 0.6s ease-in-out;
}
// --- Animations --- \\
@keyframes animShow {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes animHide {
	0%   { opacity: 1; left: 0; }
	99%  { opacity: 0; left: 0; }
	100% { opacity: 0; left: -200%; }
}
/*
// --- FOUT --- \\
html:not(.ie9) header {
	opacity: 0; // begin by setting opacity to 0
	animation: animShow 0.6s ease-in-out 0.2s forwards;
}
*/

// ==|== components ===========================================================
// ============================================================================

// Forms
// ----------------------------------------------------------------------------
textarea,
input[type="tel"],
input[type="text"],
input[type="datetime"],
input[type="password"] {
	width: 100%;
	font-size: 1.2rem;
	font-weight: 700;
	background-color: $hsl_L100;
	border: 0.1rem solid $hsl_L92;
	border-radius: 0.4rem;
}
textarea {
	min-height: 21rem;
	max-height: 28rem;
}
textarea,
input[type="tel"] {
	padding: 1rem;
}
input[type="tel"] {
	font-size: 1.5rem;
	text-align: center;
	color: $hsl_L28;
}
input[type="tel"][readonly] {
	pointer-events: none;
	background-color: $hsl_L88;
	border: none;
}
textarea,
input[type="text"],
input[type="datetime"],
input[type="password"] {
	font-size: 1.2rem;
}
input[type="text"],
input[type="datetime"],
input[type="password"] {
	padding: 1.4rem 1rem;
}
// + interaction + \\
textarea:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="datetime"]:focus,
input[type="password"]:focus {
	border-color: $hsl_blue;
}
// --- Date Time --- \\
.wrap_datetime {
	position: relative;
}
.wrap_datetime input[type="datetime"] {
	padding-right: 3.2rem;
}
.wrap_datetime div.wrap_svg {
	position: absolute;
	top: 1.2rem;
	right: 1rem;
	width: 1.8rem;
}
.wrap_datetime div.wrap_svg svg {
	fill: $hsl_L28;
}
// --- Select --- \\
div.wrap_select {
	position: relative;
	z-index: 100;
}
div.wrap_select div.dropdown_toggle {
	cursor: pointer;
	position: relative;
	z-index: 102;
	width: 100%;
	height: 4rem;
	background-color: $hsl_L100;
	border: 0.1rem solid $hsl_L92;
	border-radius: 0.4rem;
}
div.wrap_select div.dropdown_toggle span {
	display: block;
	user-select: none;
	padding-left: 1rem;
	padding-right: 4rem;
	font-size: 1.2rem;
	font-weight: 700;
	line-height: 3.8rem; // less than 4rem to compensatre for truncate styles
	color: $hsl_L38;
}
div.wrap_select div.dropdown_toggle div.wrap_svg {
	pointer-events: none;
	position: absolute;
	top: 1.4rem;
	right: 1rem;
	width: 1rem;
	transform: rotate(90deg);
}
div.wrap_select div.dropdown_toggle div.wrap_svg svg {
	fill: $hsl_L38;
}
// + interaction + \\
div.wrap_select:hover div.dropdown_toggle {
	border-color: $hsl_blue;
}
div.wrap_select:hover div.dropdown_toggle span {
	color: $hsl_blue;
}
div.wrap_select:hover div.dropdown_toggle div.wrap_svg svg {
	fill: $hsl_blue;
}
div.wrap_select:active div.dropdown_toggle {
	border-color: darken($hsl_blue, 10%);
}
div.wrap_select:active div.dropdown_toggle span {
	color: darken($hsl_blue, 10%);
}
div.wrap_select:active div.dropdown_toggle div.wrap_svg svg {
	fill: darken($hsl_blue, 10%);
}

// Containers
// ----------------------------------------------------------------------------
[data-container="padding"] {
	padding-left: 1rem;
	padding-right: 1rem;
}

// SVGs
// ----------------------------------------------------------------------------
#svgInject {
	display: none;
	visibility: hidden;
}
.wrap_svg {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.wrap_svg svg {
	width: 100%;
	height: 100%;
}
svg.svg_inline {
	display: inline; // [viewBox] attribute selector does not work in webkit
}

// Headings
// ----------------------------------------------------------------------------
h1 {
	font-family: "futura-pt", Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 1.4rem;
	font-weight: 700;
	text-transform: uppercase;
	color: $hsl_L28;
}
h1.name {
	text-transform: none;
}
h2 {
	margin-top: 0.6rem;
	font-size: 1.3rem;
	color: $hsl_L54;
}
h3 {
	font-size: 1.4rem;
	font-weight: 700;
}
h4 {
	font-family: "futura-pt", Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 1rem;
	font-weight: 700;
	text-transform: uppercase;
	color: $hsl_L54;
}
h5 {
	font-size: 1.1rem;
	color: $hsl_L54;
}
h6 {
	font-family: "futura-pt", Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 0.9rem;
	font-weight: 700;
	color: $hsl_L18;
}

// Links & Buttons
// ----------------------------------------------------------------------------
a.log_link {
	display: table;
	margin: 1.6rem auto 0 auto;
	font-family: "futura-pt", Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 1.2rem;
	font-weight: 500;
	text-decoration: underline;
	color: $hsl_L54;
}
a.log_link:hover {
	color: $hsl_blue;
}
a.log_link:active {
	color: darken($hsl_blue, 10%);
}
// --- Buttons --- \\
.button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 16rem;
	height: 3.6rem;
	font-family: "futura-pt", Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 1.4rem;
	font-weight: 700;
	letter-spacing: 0.1rem;
	line-height: 3.6rem;
	text-align: center;
	text-transform: uppercase;
	color: $hsl_L100;
	border-radius: 0.4rem;
}
.button.blue {
	background-color: $hsl_blue;
}
.button.pink {
	background-color: $hsl_pink;
}
// + with icon + \\
.button svg,
.button span {
	display: inline-block;
}
.button svg {
	margin-right: 0.6rem;
	width: 1.6rem;
	fill: $hsl_L100;
	transform: translateY(-0.2rem);
}
.button svg.ui_phone {
	width: 1.8rem;
}
.button svg.ui_cancel {
	width: 1.4rem;
}
// + interaction + \\
.button:hover {
	background-color: $hsl_L28;
}
.button:active {
	background-color: $hsl_L38;
}
// + actions + \\
div.actions {
	margin-top: 2rem;
}
div.actions .button {
	margin-top: 1rem;
}
div.actions.columns {
	text-align: center;
}
div.actions.columns .button {
	display: inline-block;
	margin-top: 0;
	width: 8rem;
}
div.actions.columns .button:first-child {
	margin-right: 0.6rem;
}

// Badges
// ----------------------------------------------------------------------------
.badge {
	padding: 0.6rem;
	width: 3.2rem;
	height: 3.2rem;
	border-radius: 0.4rem;
}
.badge svg {
	fill: $hsl_L100;
}
// + individual badges + \\
.badge.icon_alert {
	background-color: $hsl_pink;
}
.badge.icon_lead {
	background-color: $hsl_orange;
}
.badge.icon_account {
	background-color: $hsl_violet;
}
.badge.icon_contact {
	background-color: $hsl_purple;
}
.badge.icon_opportunity {
	background-color: $hsl_yellow;
}
.badge.icon_question {
	background-color: $hsl_green;
}

// Banner
// ----------------------------------------------------------------------------
.banner {
	padding: 2rem 1rem;
}
.banner div.badge,
.banner div.headlines {
	float: left;
}
.banner div.badge {
	margin-right: 1rem;
}
.banner div.headlines {
	padding-top: 0.3rem;
	width: calc(100% - 4.2rem); // 3.2rem + 1rem
}
.banner div.headlines h1 {
	margin-bottom: 0.2rem;
}
// + pinned banner + \\
.banner.pinned {
	position: relative;
}
.banner.pinned div.headlines {
	width: calc(100% - 7.2rem); // 3.2rem + 1rem + 2rem + 1rem
}
.banner.pinned div.icon_pin {
	position: absolute;
	top: 50%;
	right: 1rem;
	width: 2rem;
	transform: translateY(-50%);
}
.banner.pinned div.icon_pin svg {
	fill: $hsl_L72;
}
// + banner articles + \\
article.banner {
	margin-bottom: 2rem;
	background-color: $hsl_L92;
}
// + banner links + \\
a.banner {
	display: block;
	background-color: $hsl_L100;
}
a.banner:hover {
	background-color: $hsl_blue;
}
a.banner:hover div.headlines h1,
a.banner:hover div.headlines h4,
a.banner:hover div.headlines h5 {
	color: $hsl_L100;
}
a.banner:active {
	background-color: lighten($hsl_blue, 10%);
}

// Content
// ----------------------------------------------------------------------------
div.content {
	text-align: center;
	color: $hsl_L18;
}
div.content h3 {
	margin-bottom: 1rem;
}
div.content p,
div.content ul li {
	margin-bottom: 1rem;
	font-size: 1.2rem;
}
div.content p {
	line-height: 1.4;
}
div.content p:last-child,
div.content ul li:last-child {
	margin-bottom: 0;
}
// + links + \\
div.content p a,
div.content ul li a {
	font-weight: 700;
	color: $hsl_blue;
}
div.content p a:hover,
div.content ul li a:hover {
	color: $hsl_L28;
}
div.content p a:active,
div.content ul li a:active {
	color: $hsl_L38;
}

// Standard
// ----------------------------------------------------------------------------
article.standard {
	margin-bottom: 2rem;
	text-align: center;
}
article.standard div.wrap_phone {
	margin-top: 1rem;
}

// Options Grid
// ----------------------------------------------------------------------------
ul.options_grid {
	margin-top: 1rem;
	border-top: 0.1rem solid $hsl_L92;
}
ul.options_grid li {
	float: left;
	width: 33.3333333%;
	border-right: 0.1rem solid $hsl_L92;
	border-bottom: 0.1rem solid $hsl_L92;
}
ul.options_grid li:nth-child(3n) {
	border-right: none;
}
ul.options_grid li a {
	display: block;
	padding-top: 1.4rem;
	padding-bottom: 1.4rem;
	text-align: center;
	background-color: $hsl_L100;
}
ul.options_grid li a div.wrap_svg {
	margin-bottom: 1rem;
	width: 3.6rem;
	height: 3.6rem;
}
// + interaction + \\
ul.options_grid li a:hover {
	background-color: $hsl_blue;
}
ul.options_grid li a:hover h6 {
	color: $hsl_L100;
}
ul.options_grid li a:active {
	background-color: lighten($hsl_blue, 10%);
}

// Contact List
// ----------------------------------------------------------------------------
ul.contact_list {
	margin-top: 1rem;
	max-height: 36.6rem;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
ul.contact_list li {
	border-bottom: 0.1rem solid $hsl_L92;
}
ul.contact_list li:first-child {
	border-top: 0.1rem solid $hsl_L92;
}

// Overlay & Modal
// ----------------------------------------------------------------------------
// created and added (also destroyed) to DOM via JS
// opacity applied via JS | transition via CSS
[data-overlay] {
	position: absolute;
	z-index: 900;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: hsla(0,0%,0%,0.6);
	overflow: hidden;
}
[data-modal] {
	position: absolute;
	z-index: 901;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	margin: auto;
	width: 100%;
	max-height: 22.8rem;
	background-color: $hsl_L96;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
// + overlay active + \\
html.overlay_active,
html.overlay_active body {
	overflow-y: hidden;
}
// --- Modal Content --- \\
[data-modal] div.content {
	padding-top: 2rem;
}
[data-modal] div.actions {
	padding-bottom: 2rem;
}
// --- Select List --- \\
ul.select_list li {
	border-bottom: 0.1rem solid $hsl_L92;
}
ul.select_list li:last-child {
	border-bottom: none;
}
ul.select_list li a {
	display: block;
	padding: 1.4rem 1rem;
	font-size: 1.2rem;
	font-weight: 700;
	color: $hsl_L38;
}
ul.select_list li a:hover {
	color: $hsl_blue;
}
ul.select_list li a:active {
	color: darken($hsl_blue, 10%);
}


// ==|== common sections ======================================================
// ============================================================================

// Header
// ----------------------------------------------------------------------------
header {
	position: relative;
	padding-top: 2rem;
	padding-bottom: 2rem;
}
header div.wrap_svg {
	width: 7.2rem;
}
// --- Header Links --- \\
header a.wrap_svg {
	position: absolute;
	top: 2.8rem;
	width: 1.8rem;
}
header a.wrap_svg svg {
	fill: $hsl_L78;
}
header a.wrap_svg:hover svg {
	fill: $hsl_blue;
}
header a.wrap_svg:active svg {
	fill: darken($hsl_blue, 10%);
}
// + individual links + \\
header a.link_back {
	left: 1rem;
	transform: rotate(180deg);
}
header a.link_settings {
	right: 1rem;
}

// Cases
// ----------------------------------------------------------------------------
// --- Cases Header --- \\
div.cases_header {
	position: relative;
	margin-bottom: 2rem;
}
div.cases_header a {
	position: absolute;
	top: -0.6rem;
	width: 1.8rem;
}
div.cases_header a svg {
	fill: $hsl_L78;
}
div.cases_header a.current {
	pointer-events: none;
}
div.cases_header a.current svg {
	fill: $hsl_blue;
}
// + individual links + \\
div.cases_header a.icon_calendar {
	right: 3rem;
}
div.cases_header a.icon_reminder {
	right: 0;
}
// + interaction + \\
div.cases_header a:hover svg {
	fill: $hsl_L38;
}
div.cases_header a:active svg {
	fill: $hsl_L54;
}
// --- Cases Grid --- \\
ul.cases_grid {
	margin-bottom: 1rem; // 1rem + 1rem from li's
}
ul.cases_grid li {
	float: left;
	margin-right: 1rem;
	margin-bottom: 0.8rem;
	width: 2.8rem;
}
ul.cases_grid li:nth-child(5n) {
	margin-right: 0;
}
ul.cases_grid li a:hover {
	background-color: $hsl_L28;
}
ul.cases_grid li a:active {
	background-color: $hsl_L38;
}
// --- Cases Form --- \\
form.cases_form div.wrap_datetime,
form.cases_form div.wrap_reminder-title,
form.cases_form div.wrap_meeting-location,
form.cases_form div.wrap_meeting-subject,
form.cases_form div.wrap_callnotes-subject {
	margin-bottom: 1rem;
}

// Common Forms
// ----------------------------------------------------------------------------
form.login_form h4,
form.settings-user_form h4,
form.settings-global_form h4 {
	margin-bottom: 1rem;
}
div.wrap_vendor,
div.wrap_username,
div.wrap_select-role {
	margin-bottom: 2rem;
}