// SASS Variables
// ----------------------------------------------------------------------------
$hsl_blue:   hsl(192,55%,55%);
$hsl_pink:   hsl(344,61%,62%);
$hsl_orange: hsl(15,92%,68%);
$hsl_yellow: hsl(35,95%,67%);
$hsl_violet: hsl(231,61%,69%);
$hsl_purple: hsl(248,70%,75%);
$hsl_green:  hsl(142,42%,50%);

$hsl_L100:   hsl(0,0%,100%);
$hsl_L96:    hsl(0,0%,96%);
$hsl_L92:    hsl(0,0%,92%);
$hsl_L88:    hsl(0,0%,88%);
$hsl_L78:    hsl(0,0%,78%);
$hsl_L72:    hsl(0,0%,72%);
$hsl_L54:    hsl(0,0%,54%);
$hsl_L38:    hsl(0,0%,38%);
$hsl_L28:    hsl(0,0%,28%);
$hsl_L18:    hsl(0,0%,18%);
$hsl_L0:     hsl(0,0%,0%);

// One stylesheet to rule them all
// ----------------------------------------------------------------------------
@import 'base';
@import 'main';