%head

	%meta{:charset => "utf-8"}
	%meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge"}

	%title Vesature Sales Force App

	%meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

	%meta{:name => "apple-mobile-web-app-capable", :content => "yes"}
	%meta{:name => "apple-mobile-web-app-status-bar-style", :content => "black"}

	-# !!! REMOVE FOR LIVE !!!
	%meta{:name => "robots", :content => "noindex, nofollow"}

	%link{:rel => "stylesheet", :type => "text/css", :href => "assets/css/styles.min.css?v=1"}

	%script
		= Haml::Engine.new(File.read("dev/haml/partials/_js_fonts.haml")).render
		= Haml::Engine.new(File.read("dev/haml/partials/_js_svg.haml")).render